rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /pets/{petId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
                    && request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if request.auth != null
                    && resource.data.ownerId == request.auth.uid;
    }
    match /swipes/{swipeId} {
      allow read: if request.auth != null
                  && (resource.data.fromUid == request.auth.uid
                      || resource.data.ownerId == request.auth.uid);
      allow create: if request.auth != null
                  && request.resource.data.fromUid == request.auth.uid;
      allow update, delete: if false;
    }
    match /pros/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    match /bookings/{id} {
      allow read: if request.auth != null
                  && (resource.data.parentId == request.auth.uid
                      || resource.data.proId == request.auth.uid);
      allow create: if request.auth != null
                  && request.resource.data.parentId == request.auth.uid;
      allow update, delete: if false;
    }
    match /homestays/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    match /homestayBookings/{id} {
      allow read: if request.auth != null
                  && (resource.data.guestId == request.auth.uid
                      || resource.data.hostId == request.auth.uid);
      allow create: if request.auth != null
                  && request.resource.data.guestId == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
